
body{
  margin: 0;
  padding: 0;
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;

}
h2{
  font-weight: 700;
  font-size: 1.1rem;
}
p{
  font-weight: 400;
  color:gray;
  font-size: 1rem;
}

img{
  border-radius: 5rem;
  border: 5px solid white;
}

@media only screen and (max-width: 375px) {
  .Profile{
    background-color: white;

    margin: 8rem 2em;
    border-radius: 1rem 1rem 1rem 1rem;
    text-align: center;
    min-height: 16.5rem;
  }
  .CompteInfosTop{
    background-image: url('images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem 1rem 0 0 ;

  }
  img{
    position: relative;
    top: 3.5rem;
  }
  .NameAndAgesLondon{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;

  }
  .NameAndAges{
    display: flex;
    margin: .5rem 0;
    position: relative;
    top : 2rem;
    left: 6.5rem;

  }
  .NameAndAges h2{
    margin-right: .5rem
  }
  .CompteInfosBas{
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
    align-content: center;
    border-top: solid 1px gray;
  }
  .InfosCompte h2{
    margin-bottom: 0.2rem;
  }

}
